/* This is the stylesheet file to my Weather DashBoard website, assignment 6. It is
organized top down to match the HTML flow.  Much of the CSS styling is self explanatory due to the semantic HTML used in the associated file. */

/*last updated by Michael O'Connor, February 7, 2021*/


.searchBar {
    width: 20%;
    float: left;
    padding: 15px;
    color:blue;
    background-color: blanchedalmond;
}

.weatherBox {
    width: 80%;
    float: left;
    padding: 15px;
}
.citySearch {
    font-size: large;
}
.CurrentWeather {
    color:blue;
    background-color: blanchedalmond;
    border-style: dashed;
    border-color: green;
}

.FiveDayForecast {
    color:blue;
    background-color: blanchedalmond;
    border-style: dashed;
    border-color: blue;
}
.card-body {
    background-color: rgb(62, 102, 235);
    color: whitesmoke;
    font-size: 16px;
}

.card-temp {
    color:yellow;
}

.card-text {
    color: whitesmoke;
    font-size: 12px;
}

.citySearch {
    float:left;
}

#forecastPlus1 {
    float: left;
}
#forecastPlus2 {
    float: left;
}

#forecastPlus3 {
    float: left;
}

#forecastPlus4 {
    float: left;
}

#forecastPlus5 {
    float: left;
}